body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 24em;

    font-size: 30px;
    font-family: 'Lato', Helvetica, sans-serif;
}

.timer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
}

.time {
    font-size: 4em;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.btns .up {
    background: #eeeeee;
}

.btns .down {
    background: #cccccc;
}

.btns .up:hover {
    background: #dddddd;
}

.btns .down:hover {
    background: #bbbbbb;
}

button {
    flex-grow: 1;
    border: none;
    padding: 1em;
}

