body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 40em;

    font-size: 13px;
    font-family: 'Lato', Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.timer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
}

.time {
    font-size: 16em;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 1em 0;
}

.sync-methods {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sync-methods > * {
    margin: 0 1em;
}

button {
    flex-grow: 1;
    border: none;
    padding: 1em;
    margin: 0 2px;

    background: #dddddd;
    color: #333333;

    font-size: 1em;
}

/* For disabled (work in progress things) */
button:disabled {
    background: #cccccc !important;
    color: #888888 !important;
}

button:enabled:hover {
    background: #cccccc;
    color: #444444;
}

#fblogin {
    background: #4267b2;
    color: white;
}

#fblogin:hover {
    background: #3a61aa;
    color: #dddddd;
}
