<!DOCTYPE html>
<html lang="en">
  {% include '_head.html' %}
  <body>
    <div class="timer">
      <div class="time">00:00:00</div>
      <div class="btns">
        <button id="start">Start</button>
        <button id="count-down" disabled>Count Down</button>
        <button id="reset">Reset</button>
      </div>

      <div class="sync-methods">
        <span>Sync with:</span>

        <button id="fblogin">Facebook</button>
      </div>

      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1147795525340047&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    </div>
  </body>
</html>
